.cart1{
    width: 300px;
    background-color: #210A01;
    color: white;
    border-radius: 10px;
    margin-top: 100px;
}
.igm3{
    margin-top: -100px;
}
.divradius {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.divradius > div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    font-size: 30px;
    
}
.div28{
 background: linear-gradient(120deg, #FE9C1C, #FF5D29);;
}
.bn1{
    width: 90%;
    padding: 5px;
    border-radius: 30px;
    border: #FF5D29 solid 2px;
    background-color: rgba(255, 255, 255, 0);
    color: #FF5D29;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Sum{
    display: flex;
    justify-content: space-around;
}
.Sum > div{
    margin-top: 20px;
}
.Sum > div > button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px;
    border: white 1px solid;
    color: white;
    
}
.btnmin{
    background-color: rgba(255, 255, 255, 0);
}
.btnpl{
    background-color: #FF5D29;
}
.Order{
    width: 80%;
     background: linear-gradient(120deg, #FE9C1C, #FF5D29);
     padding: 5px;
     font-size: 25px;
     color: white;
     border-radius: 30px;
     margin-bottom: 20px;
}